<p id="notice"><%= notice %></p>

<div class="text-center">
  <p>
    <b>Name:</b>
    <%= @section.name %>
  </p>
</div>



<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
