<h1>Editing conflict</h1>

<%= render 'form' %>

<%= link_to 'Details', @conflict %> |
<%= link_to 'Delete', @conflict, method: :delete, data: { confirm: 'Are you sure you want to delete this conflict?' } %> |
<%= link_to 'Back', conflicts_path %>
